PORT=5000
MONGODB_URI=mongodb+srv://Tanuja:Tanuja24@cluster0.gyby1.mongodb.net/careermatch
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=7d
GEMINI_API_KEY=AIzaSyAb-OWE4ehRtfskg1ximOBhJ9bJGGEIYXo
NODE_ENV=development

# Job Search Provider Configuration
# Options: jsearch, mock
JOB_PROVIDER=jsearch

# RapidAPI Key for JSearch (get from https://rapidapi.com/letscrape-6bRBa3QguO5/api/jsearch)
RAPIDAPI_KEY=ad1df67cd8mshfcc349f37ef321cp17e2f3jsn9a539429e01f
